/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
#app-wrapper {
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;

    /* TEST */
    background-color: brown;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

.upgrade {
    position: fixed;
    top: 0;
    right: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    height: 85px;
    width: calc( 100% - 220px );
    text-align: right;
}
/* HEADER */
/* header {
    width: calc( 100% - 220px);
    height: 85px;
    overflow: hidden;
} */
/* END HEADER */

/* MAIN */
main {
    height: calc( 100% - 100px );

    /* TEST */
    background-color: aquamarine;
}



nav {
    float: left;
    height: 100%;
    width: 220px;
    overflow: hidden;
    color: white;
    background-color: #000000;
    padding: 20px;
    font-size: 14px;
}

nav a {
    color: #a3a3a3;
}

.inner_nav {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.logo_spotify {
    margin-bottom: 25px;
}

.logo_spotify img{
    max-height: 50px;
    display: block;
}


.nav_list img{
    max-height: 30px;
    max-width: 30px;
    vertical-align: middle;
}

.menu {
    margin-bottom: 25px;
}

.menu li {
    margin: 10px 0;
}

.playlist {
    flex-grow: 1;
}

.playlist .menu {
    height: 100%;
    overflow-y: auto;
}

.playlist a {
    margin: 15px 0;
    display: inline-block;
}


.square {
    width: 35px;
    height: 35px;
    background-color: #a3a3a3;
    color: black;
    text-align: center;
    line-height: 35px;
    vertical-align: middle;
}
/* Main Content */
.main-content {
    float: left;
    height: 100%;
    width: calc( 100% - 220px );
    overflow-y: auto;
    padding-top: 85px;
    color: white;
    background-color: #141922;
}


/* END MAIN */

/* FOOTER */
footer {
    height: 100px;
    overflow: hidden;
    background-color: #282828;
    color: white;
}
/* END FOOTER */