/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
#app-wrapper {
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

.upgrade {
    position: fixed;
    top: 0;
    right: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    height: 85px;
    width: calc( 100% - 220px );
    text-align: right;
    padding: 30px;
}

.upgrade span a {
    border: 1px solid white;
    padding: 10px 40px;
    border-radius: 100px;
    font-size: 13px;
}


/* MAIN */
main {
    height: calc( 100% - 100px );
}

/* Nav */
nav {
    float: left;
    height: 100%;
    width: 220px;
    overflow: hidden;
    color: white;
    background-color: #000000;
    padding: 20px;
    font-size: 12px;
}

nav a {
    color: #a3a3a3;
}

nav a:hover {
    color: white;
}

.inner_nav {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Logo */
.logo_spotify {
    margin-bottom: 25px;
}

.logo_spotify img{
    max-height: 50px;
    display: block;
}
/* End Logo */

/* Nav list & Playlist*/
.nav_list img{
    max-height: 30px;
    max-width: 30px;
    vertical-align: middle;
}

.menu {
    margin-bottom: 25px;
}

.menu li {
    margin: 5px 0;
}

.playlist {
    flex-grow: 1;
    min-height: 200px;
    overflow: hidden;
}

.playlist .menu {
    height: 100%;
    overflow-y: auto;
}

.playlist a {
    margin: 15px 0;
    display: inline-block;
}

.square {
    width: 35px;
    height: 35px;
    background-color: #a3a3a3;
    color: black;
    text-align: center;
    line-height: 35px;
    vertical-align: middle;
}

.square:hover {
    background-color: white;
}

.install {
    height: 75px;
}

.install i {
    padding-right: 10px;
}

.download {
    border-bottom: 1px solid #a3a3a3;
    padding-bottom: 10px;
}

.account {
    margin-top: 10px;
}

.account i {
    font-size: 30px;
    vertical-align: middle;
}
/* Main Content */
.main-content {
    float: left;
    height: 100%;
    width: calc( 100% - 220px );
    overflow-y: auto;
    padding-top: 85px;
    color: white;
    background-color: #141922;
}
/* END MAIN */

/* FOOTER */
footer {
    height: 100px;
    overflow: hidden;
    background-color: #282828;
    color: white;
}
/* END FOOTER */